{block content}
    <h1>Můj blog</h1>

    <div n:foreach="$posts as $post" class="post">
        <div class="date">{$post->created_at|date:'j.n.Y, G:i'}</div>
        <h2><a n:href="Post:show $post->id">{$post->title}</a></h2>
        <div>{$post->content|truncate:256}</div>
        <br>
    </div>

    <br>
    <a n:href="Edit:create" n:if="$user->isLoggedIn()">Napsat nový příspěvek</a>
{/block}
